<article class="blog-item">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_file = page.header.header_image_file %}

    {% if header_image_file %}
        {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
        {% set header_image_media = page.media.images|first %}
    {% endif %}

    {% if truncate and page.summary != page.content %}
        <div class="blog-item-header">

            {% if header_image_media %}
                <a href="{{ page.url }}" class="img-wrapper">
                    {{ header_image_media.html }}
                </a>
            {% endif %}

            <a href="{{ page.url }}">
                <h2>
                    {{ page.title }}
                    <span>{{ page.header.subTitle }}</span>
                </h2>
            </a>

        </div>
    {% endif %}

    {% if page.header.continue_link is sameas(false) %}

        {{ page.content }}

        {% if not truncate %}
            {% set show_prev_next = true %}
        {% endif %}

        {% elseif truncate and page.summary != page.content %} <!-- Affichage en liste sans séparateur -->
            <div class="p-summary">
                <a href="{{page.url}}">
                    {{ page.summary }}
                </a>
            </div>
            <a href="{{ page.url }}" class="read-more">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>

        {% elseif truncate %} <!-- Affichage en liste tronqué avec le séparateur -->
            <div class="blog-item-header">

                {% if header_image_media %}
                    <a href="{{ page.url }}" class="img-wrapper">
                        {{ header_image_media.html }}
                    </a>
                {% endif %}

                <a href="{{ page.url }}">
                    <h2>
                        {{ page.title }}
                        <span>{{ page.header.subTitle }}</span>
                    </h2>
                </a>
            </div>

            <div class="p-summary e-content">
                {{ page.content }}
                <a href="{{ page.url }}" class="read-more">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
            </div>

            <div class="blog-item-tags">
                {% for theme in page.taxonomy.Themes %}
                    <a href="/themes/{{ theme |replace({'é': 'e', 'â': 'a', 'ï': 'i'})|hyphenize }}" class="p-theme">{{ theme }}</a>
                {% endfor %}
                {% for intervention in page.taxonomy.Interventions %}
                    <a href="/interventions/{{ intervention |replace({'é': 'e', 'â': 'a'})|hyphenize }}" class="p-intervention">{{ intervention }}</a>
                {% endfor %}
            </div>

        {% else %} <!-- Affichage complet -->

            <h1>
                {{ page.title }}
                <span>{{page.header.subTitle}}</span>
            </h1>

            <div class="taxonomies-display">
                <a href="/themes/">Thème(s) :</a>
                <ul class="tax-list">
                    {% for theme in page.taxonomy.Themes %}
                        <li><a href="/themes/{{ theme |replace({'é': 'e', 'â': 'a', 'ï': 'i'})|hyphenize }}" class="p-theme">{{ theme }}</a></li>
                    {% endfor %}
                </ul>

                <a href="/interventions/">Intervention(s) :</a>
                <ul class="tax-list">
                    {% for intervention in page.taxonomy.Interventions %}
                        <li><a href="/interventions/{{ intervention |replace({'é': 'e', 'â': 'a'})|hyphenize }}" class="p-intervention">{{ intervention }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if header_image_media %}
                <div class="img-article">
                    {{ header_image_media.html }}
                </div>
            {% endif %}

            <div class="txt-article">
                {{ page.content }}
            </div>

    {% endif %}

</article>
